## Project Requirements
coloredlogs
docopt
lib_doctest_pycharm @ git+https://github.com/bitranox/lib_doctest_pycharm.git
lib_parameter @ git+https://github.com/bitranox/lib_parameter.git
lib_platform @ git+https://github.com/bitranox/lib_platform.git
lib_programname @ git+https://github.com/bitranox/lib_programname.git
