## Project Requirements
click
coloredlogs @ git+https://github.com/bitranox/coloredlogs.git
lib_parameter @ git+https://github.com/bitranox/lib_parameter.git
lib_platform @ git+https://github.com/bitranox/lib_platform.git
lib_programname @ git+https://github.com/bitranox/lib_programname.git
